@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";



.background-image {
    background-image: url('https://media.istockphoto.com/photos/top-view-of-pitch-black-office-desk-with-computer-and-supplies-picture-id675715346?b=1&k=6&m=675715346&s=170667a&w=0&h=rkg0_gSrYK_m_zwGm75YERHtdy6OIaRGaPjz5ZF7IO8=');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px ;
}
